body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #3e004d;
    color: white;
    text-align: center;
}

.dashboard-container {
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

.logout-button {
    text-decoration: none;
    background-color: #aa0247;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #f93854;
}
